<form action="/" method="post">
	<ul style="list-style-type: none;">
		<li><span>Name: </span><input type="text" name="name" id="workitem_name" /></li>
		<li><span>Description: </span><input type="text" name="description" id="workitem_description" /></li>
		<li><span>Pay Amount: </span><input type="text" name="pay" id="workitem_pay" /></li>
		<li><input type="submit" name="submit" value="Add Work Item" /></li>
	</ul>
</form>
<p><a href="/">Home</a></p>